.header{
    grid-area: header;
    background-color:#6cbe45;
    display: flex;

}

.logoContainer{
    flex: 1;
}


#logo{
    height: 50%;
    width: auto;
    margin-top: 1%;
    margin-left: 1.3%;

}

#profileButtons{
    display: flex;
    width: 150px;
}