body {
  font-family: 'Calibri';
  margin: 0;
  padding: 0px;
}

.grid-container{
  display: grid;
  grid-template-rows: 100% 10%;
  grid-template-areas: 
  'bc bc bc bc bc bc bc'
  'footer footer footer footer footer footer footer';
}


.bc{
  grid-area: bc;
  background-image: url("/images/FarmBG.jpeg");
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  
}

.nav{
  text-align: center;
  font-size: 35px;
  grid-column: 1/8;
  display: flex;
  justify-content: flex-end;
}

.nav .links{
  padding-top: 5px;
  padding-right: 33px;
}

/* Style the header */
.header {
  display: flex;
  text-align: center;
  font-size: 35px;
  grid-column: 1/8;
}


.header .logo{
  flex: 1;
  height: 20px;
  width: 25px;
  padding-top: 20px;
  padding-right: 450px;
}

.header .profileButton-container{
  flex: 1;
  align-items: center;
  height: 20px;
  width: 25px;
  padding-top: 40px;
}

/* Style the main */
.main
{
  display: flex;
  grid-column: 1/8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}


.search-area{
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.search-title{
  align-items: flex-start;
  margin-right: 140px;
}


/* Style the footer */
.footer {
  background-color: white;
  text-align: left;
  grid-column: 1/8;
  padding-left: 50px;
  padding-top: 30px;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'bc bc bc bc bc bc'  
      'footer footer footer footer footer footer';
  }
}

.grid-container .bc .header .profileButton-container #buttonProfile {
  background-color:  #A39685; 
  color: #ffffff; 
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5px 5px 5px 5px ;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.6s;
  cursor: pointer;
  padding: 10px 10px;
}


.grid-container .bc .header .profileButton #buttonProfile:hover {
  background-color: #9E9284;
  color: white;
  border: #ffffff;
}

.searchTabs{
  width: 700px;
}


input{
  float: left;
  display: block;
  text-align: left;
  width:90%;
  margin: 0;
  padding: 12px;  
  flex-basis: 1000px;
  font-size: 20px;
  border: none;
  outline: none;
}


.search-button{
  float: left;
  width: 8%;
  height: 48px;
  max-height: 48px;
  padding: 10px;
  color: #ffffff;
  font-size: 17px;
  border: none; 
  cursor: pointer;
  background-color: #E04824;
  border-radius: 100% 100% 100% 100%;
}

.search-button:hover{
  background-color: #DA5418;
  color: white;
  transition-duration: 0.6s;
}

.search-container{
  position: relative;
}

.search-container::after {
  content: "";
  clear: both;
  display: inline-block;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 50px auto;
  flex-basis: 1000px;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 15px;
  background: #e2e2e2;
  font-weight: bold;
  border-radius: 8px 8px 0px 0px;
}

.mytabs .tab {
  width: 100%;
  padding: 1%;
  background: #fff;
  order: 1;
  display: none;
  border-radius: 0 8px 8px 8px;
}
.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: #fff;
}

.search-container-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  border-radius: 0 0 8px 8px;
  width: 98.398%;
  /*position the autocomplete items to be the same width as the container:*/
  top: 49px;
  left: 0;
  right: 0;
}

.search-container div {
  margin-left: -1.0787%;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
}

.search-container-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.search-container-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}