#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* it centers the container*/
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10; /* we want our modal do draw above everything else*/
    background-color: white;
    width: 400px;
    max-width: 80%;
}

#modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.modal-search{
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
}


#search-container{
  padding: 6px;
  margin-top: 12px;
  background: #ddd;
  font-size: 17px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  background-color: #CFEAC3;
  border-color: #252525;
  display: block;
  margin-left: 10%;
}
 
#search-container:after {
  content: "";
  clear: both;
  display: inline-block;
}

input {
  background: none;
  outline:none;
  float:left;
  font-size: 16px;
  line-height: 30px;
  width: 80%;
  height: 70%s;
  border: none;
  color: #252525;
}
  
 
  form{
    height: 150px;
    border: none;
    max-height: 80%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #eceff2 #f6f7f9;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 80px;
  }
  
  #search-result{
    cursor:pointer;
    background-color: #C3E4B4;  
    padding: 5px;
    margin: 5px;
    color: rgb(0,0,0,0.5);
  }

  #search-result:hover{
  background-color: #87CA68;
  color: #252525;
  }
  #modal-buttons{ 
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
  }

  #add-button{
    background-color: #E04824;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
  }

  #cancel-button{
    background-color: white;
    color: #E04824;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-color: #E04824;
    margin-right: 20px;

  }

  #overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0,0,0,0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .search-container-items {
    position: absolute;
    border: none;
    width: 95%;
    height: 50%;
    overflow-y: scroll;
    /*position the autocomplete items to be the same width as the container:*/
    top: 20%;
    font-size: 20;
    text-align: center;
  }
  
  .search-container-items div {
    margin-left: 25%;
    margin-right: 26%;
    padding: 5px;
    cursor: pointer;
    background-color:#87CA68; 
    margin-bottom: 5px;
    border-radius: 25px  25px 25px 25px;

  }
  
  .search-container-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .search-container-active {
    background-color: #e9e9e9 !important; 
  }

  #date{
      border: 1px solid #87CA68;
  }
