body{
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow: hidden;
}
h2,h1{
    font-family: 'Calibri';
    font-size: 20px;
    margin: 1px;
}

/* The grid container */
.grid{
    display: grid;
    grid-template-rows: 9% 91%;
    grid-template-areas:
    'header'
    'main';
    max-width: 100%;
    max-height: 100%;
  }

#login-button-section{
    margin-right: 5%;
}  


#button{
    background-color: #E04824;
    color: #ffffff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 100%;
}

main{
    display: grid;
    grid-area: main;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100% 100%;
    height: 90%;
    grid-template-areas: 
    'hortList hortList hortList mapDisplay mapDisplay mapDisplay';
    margin-top: 2%;
}


.mapDisplay{
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
    margin-top: 0.7%;
    background-color: white;
    max-height: 90%;
    width: 98%;
}

#map{
    margin-left: 4%;
    height: 80%;
    width: 92%;
}

.search-container{
    display: flex;
}

.search-input{
    margin-left: 4%;
    margin-top: 1%;
}

input{
    float: left;
    display: block;
    text-align: left;
    width:80%;
    margin: 0;
    padding: 5px;  
    flex-basis: 1000px;
    font-size: 17.5px;
    border: 1x solid grey;
  }
  
  
  .search-button{
    margin-left: -20%;
    float: left;
    width: 17%;
    height: 30px;
    max-height: 30px;
    margin-top: 0.5%;
    color: #E04824;
    font-size: 20px;
    border: none; 
    cursor: pointer;
    background-color: white;
  }

#hortList{
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    background-color: white;
    margin-top:5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    width: 90%;
}



#products-list-section{
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    grid-area: products-section;
    max-width:100%;
    max-height:100%;
    background-color: white;
    margin: 4%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #eceff2 #f6f7f9;
}

#product-result{
    margin-bottom: 2%;

}

#hortalica-result{
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-areas:
        'image title delete'
        'image description description'
        'separation separation separation';
    grid-template-rows: 25% 75% 5%;
    grid-template-columns: 30% 60% 10%;
    height: 40%;
    width: 100%;
}

#image-product-section{
    grid-area: image;
    border-radius: 10px 10px 10px 10px;
    background-color: lawngreen;
    margin: 6%;
    max-height: 70%;
    max-width: 80%;
    margin-top: 10%;
    vertical-align: middle;
    background-size: cover;
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
}

#image-icon{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}

#title-section{
    max-width: 30%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    max-height: 100%;

}

#remove-product-button-section{
    grid-area: delete;
    max-width: 100%;
    max-height: 100%;
}

#delete-product{
    cursor: pointer;
    font-size: 20px;
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
    background: none;
    outline: none;
    float: left;
    border: none;
    color: #252525;
}

#product-description-section{
    grid-area: description;
    max-height: 100%;
    font-size: 10px;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #eceff2 #f6f7f9;
}

#description-result{
    margin-right: 10%;
    max-width: 100%;
    max-height: 100%;
    margin-block-start: 1%;
    margin-block-end: 1%;
}


#feedback-section{
    max-width: 100%;
    max-height: 100%;
    grid-area: feedback;
    margin-right: 10%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

#feedback-image-section{
    flex: 3;
    place-self: center;
    text-align: right;
    margin-right: 1%;
}

#feedback-image{
    height: 50%;
}


#feedback-message-section{
    flex: 1;
}

#feedback-message{
    margin: 0;
    margin-top: 3%;
}


#separation{
    grid-area: separation;
    max-width: 100%;
    max-height: 100%;
}

.calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
}


#button-add-product{
    background-color: #DA5418;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 20%;
    cursor: pointer;
    border: none; 
    margin-top: 2%;
}

#button-add-product:hover{
    background-color: #E04824;
    color: white;
    transition-duration: 0.6s;
}


#search-locationsearch-container-list{
    text-align: start;
    margin-left: 17%;
    margin-top: 1%;
    cursor: pointer;
    z-index: 10;
    max-height: 5%;
}

.mapboxgl-ctrl-bottom-left{
    display: none;
}
.mapboxgl-ctrl-bottom-right{
    display: none;
}

footer{
    grid-area: footer;
}
