body{
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow: hidden;
}
h2,h1{
    font-family: 'Calibri';
    font-size: 20px;
    margin: 1px;
}

/* The grid container */
<<<<<<< Updated upstream:kertanaCode/public/stylesheets/search.css
.grid-container{
    display: grid;
    grid-template-rows: 9% auto;
    grid-template-areas:
    'header'
    'main';
=======
.header{
    height: 10%;
    background-color:#6cbe45;
    display: flex;
}


#hpLogo{
    margin-top: -7%;
    height: 40px;
    width: auto;
    padding: 25px;
>>>>>>> Stashed changes:kertanaCode/public/stylesheets/searchLocation.css
}

#button{
    background-color:  #E04824; 
    color: #ffffff; 
    border: none;
    border-radius: 5px 5px 5px 5px ;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 75%;
}

main{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100% 100%;
    height: 90%;
    grid-template-areas: 
    'hortList hortList hortList mapDisplay mapDisplay mapDisplay';
    margin-top: 2%;
}


.mapDisplay{
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
    margin-top: 0.7%;
    background-color: white;
    max-height: 90%;
    width: 98%;
}

#map{
    margin-left: 4%;
    height: 80%;
    width: 92%;
}

.search-container{
    display: flex;
}

.search-input{
    margin-left: 4%;
    margin-top: 1%;
}

input{
    float: left;
    display: block;
    text-align: left;
    width:80%;
    margin: 0;
    padding: 5px;  
    flex-basis: 1000px;
    font-size: 17.5px;
    border: 1x solid grey;
  }
  
  
  .search-button{
    margin-left: -20%;
    float: left;
    width: 17%;
    height: 30px;
    max-height: 30px;
    margin-top: 0.5%;
    color: #E04824;
    font-size: 20px;
    border: none; 
    cursor: pointer;
    background-color: white;
  }

#hortList{
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    background-color: white;
    margin-top:5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    width: 90%;
}

.hortalica-result{  
    flex: 100%;
    display: flex;
    flex-direction: row;  
    margin-top:15px;  
    border-top: 1px solid black;
    padding-top: 2%;
}

#product-result{
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #eceff2 #f6f7f9;
    padding-right: 2rem;
    padding-left: 2rem;
}

#product-icon{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px ;
}

.imagem-hortalica{
    border-radius: 10px 10px 10px 10px ;
    justify-content: center;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
}

.image-frame{
    max-height: 180px;
    max-width: 180px;
}

#title-result{
    grid-area: title;
    margin-top: 0px;
    margin-right: 0px;
}

#delete-product{
    grid-area: delete;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    font-size: 20px;
    margin-top: 0px;
    float: left;

}

#description-result{
    grid-area: description;
    width: 100%;
    font-size: 14px;
}

.imagem-resultado{
    display: table-cell;
    vertical-align: middle;
    max-height: 180px;
    max-width: 180px;

}

.imagem-description{
    padding-left: 2em;
    display: grid;
    grid-template-areas: 
    'title title title delete'
    'description description description description';
    grid-template-rows: 2% 2% 95%;
    grid-template-columns: 2% 2% 95%;
    vertical-align: middle;
    flex:50%;
}

.calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
}


#button-add-product{
    background-color: #DA5418;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 20%;
    cursor: pointer;
    border: none; 
    margin-top: 2%;
}

#button-add-product:hover{
    background-color: #E04824;
    color: white;
    transition-duration: 0.6s;
}

.mapboxgl-ctrl-bottom-left{
    display: none;
}
.mapboxgl-ctrl-bottom-right{
    display: none;
}

footer{
    grid-area: footer;
}