body {
    font-family: 'Calibri';
    margin: 0;
    padding: 0px;
    overflow: hidden;

  }

.grid{
  display: grid;
  grid-template-rows: 9% auto;
  grid-template-areas:
  'header'
  'main';
}

#slotName{
    margin-top: 1%;
    margin-left: 2.5%;
    border: none;
    font-size: 18px;
    grid-area: name;
}

.main{
    grid-area: main;
    display: grid;
    height: 75%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 100% 10 0%;
    grid-template-areas:
    'name name' 
    'hort  map';
}

.hortContainer{
    height: 100%;
    width: 100%;
}

.mapContainer{
    width: 100%;
    height: 100%;
}

#map{
    width: 90%; 
    height: 87%;
    margin-top: 2%;
    margin-left: 2%;
}

.hortList{
    height: 85%;
    width: 100%;
    overflow-y:auto;
}

#hortList-section{
    height: 85%;
    width: 100%;

}

#addSlot{
    background-color: #80A964;
    text-align: center;
    font-size: 20px;
    color: white;
    height: 25px;
    width: 140px;
    border: none;
    border-radius: 8px 8px 8px 8px;
    margin-top: 2%;
    margin-left: 40%;
}

#addSlot:hover{
    cursor: pointer;
}

.hortalica-result{  
    flex: 100%;
    display: flex;
    flex-direction: row;  
    margin-top:15px;  
    margin-bottom:15px;

}

#product-result{
    padding-right: 2rem;
    padding-left: 2rem;
}

#product-icon{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px ;
}

.imagem-hortalica{
    background-color: lawngreen;
    border-radius: 10px 10px 10px 10px ;
    justify-content: center;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
}

.image-frame{
    max-height: 180px;
    max-width: 180px;
}

#title-result{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom:0px;
}

#delete-product{
    flex: 1;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    font-size: 20px;
    text-align: right;
    margin-right: 2%;
}

#description-result{
    grid-area: description;
    width: 100%;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom:0px;
}

.image-feedback-section{
    display: flex;
    flex-direction: row;
    grid-area: feedback ;
    height: 30px;
    margin-left: 68%;

}

.feedback-image{
    height: 30px;
    width: auto;
}

.feedback-message{
    background-color: white;
    font-size: 14px;
    margin-left: 1%;
}

.imagem-resultado{
    display: table-cell;
    vertical-align: middle;
    max-height: 180px;
    max-width: 180px;

}

.imagem-description{
    padding-left: 2em;
}

#button-add-product{
    background-color: #DA5418;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 20%;
    cursor: pointer;
    border: none; 
    margin-top: 2%;
    margin-left: 40%;
}


#button-add-product:hover{
    background-color: #E04824;
    color: white;
    transition-duration: 0.6s;
}

.image-header{
    display: flex;
}