body {
    font-family: 'Calibri';
    margin: 0;
    padding: 0px;
    overflow: hidden;
    max-width:100%;
    max-height:100%;
    background-color:#f8f9fa;

  }

.grid{
  display: grid;
  grid-template-rows: 9% 91%;
  grid-template-areas:
  'header'
  'main';
  max-width: 100%;
  max-height: 100%;
}

.main{
    grid-area: main;
    display: grid;
    max-height: 100%;
    grid-template-columns: 45% 55%;
    grid-template-areas:
    'products-section map-section';
}


/*------------------------------Products Section */

#products-list-section{
    grid-area: products-section;
    max-width:100%;
    max-height:100%;
    background-color: white;
    margin: 4%;
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #eceff2 #f6f7f9;
}

#product-result{
    margin-bottom: 2%;
    height: 25%;
    max-height:25%;

}

#hortalica-result{
    max-width:100%;
    max-height:100%;
    display: grid;
    grid-template-areas:
        'image title delete'
        'image description description'
        'image feedback feedback'
        'separation separation separation';
    grid-template-rows: 25% 55% 15% 5%;
    grid-template-columns: 30% 60% 10%;
    height: 100%;
    width: 100%;
}

#image-product-section{
    grid-area: image;
    border-radius: 10px 10px 10px 10px;
    background-color: lawngreen;
    margin: 9%;
    max-height: 85%;
    max-width: 75%;
    vertical-align: middle;
    background-size: cover;
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
}

#image-icon{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}

#title-section{
    max-width: 30%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    max-height: 100%;

}

#remove-product-button-section{
    grid-area: delete;
    max-width: 100%;
    max-height: 100%;
}

#delete-product{
    cursor: pointer;
    font-size: 20px;
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
}

#product-description-section{
    grid-area: description;
    max-height: 100%;
    font-size: 10px;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #eceff2 #f6f7f9;
}

#description-result{
    margin-right: 10%;
    max-width: 100%;
    max-height: 100%;
    margin-block-start: 1%;
    margin-block-end: 1%;
}


#feedback-section{
    max-width: 100%;
    max-height: 100%;
    grid-area: feedback;
    margin-right: 10%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

#feedback-image-section{
    flex: 3;
    place-self: center;
    text-align: right;
    margin-right: 1%;
}

#feedback-image{
    height: 50%;
}


#feedback-message-section{
    flex: 1;
}

#feedback-message{
    margin: 0;
    margin-top: 3%;
}


#separation{
    grid-area: separation;
    max-width: 100%;
    max-height: 100%;
}

/*------------------------------------*/


/*------------------------------Field Section */

#map-section-grid{
    grid-area: map-section;
    display:grid;
    background-color: green;
    max-width:100%;
    background-color: white;
    margin: 3.3%;
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
    grid-template-areas:
    'map map map'
    'add-product add-product add-product'
    'soil-info climate-info size-coord';
    grid-template-rows: 60% 10% 30%;
    grid-template-columns: 35% 35% 20%;
    max-height: 100%;
    max-width: 100%;
}

#map{
    grid-area: map;
    margin-left: 12%;
    margin-top: 3%;
}

#add-product-button-section{
    grid-area: add-product;
    justify-self: center;
}

#button-add-product{
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 70%;
    width: 120%;
    margin-top: 10%;
    margin-left: 15%;
    background-color: #DA5418;
    box-shadow:
    0 0 2.2px rgba(0, 0, 0, 0.1),
    0 0 2.3px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1),
    0 0 2.9px rgba(0, 0, 0, 0.1),
    0 0 2.4px rgba(0, 0, 0, 0.1),
    0 0 2px rgba(0, 0, 0, 0.1);
}

#button-add-product:hover{
    background-color: #E04824;
    color: white;
    transition-duration: 0.6s;
}

#field-info-soil-section{
    grid-area: soil-info;
    margin-left: 15%;
}

#field-info-climate-section{
    grid-area: climate-info;
    margin-left: 15%;
}

#info-title{
    margin-bottom: 0px;
}

#first-paragraph{
    margin-top: 0px;
}

#field-size-coord-section{
    grid-area: size-coord;
    margin-left: 6%;

}

#draw-button{
    background-color: #da5418;
    color: white;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 18px;
    cursor: pointer;
}

/*------------------------------------*/

