body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid {
  background-image: url("/images/FarmBG.jpeg");
  display: grid;
  grid-template-columns: auto  ;
  grid-template-rows: 30% auto 30%;
  grid-template-areas: 
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
}

header {
  display: flex;
  color: white;
}

main {
  background-color: #FFFFFFFF
}

footer{
  background-color: greenyellow;
  color: white;
}